.cell {
	background-color: #00E5C9;
	margin: 0px;
	height: 350px;
	box-shadow: 0px 5px 15px 1px grey;
	position: relative;
	border-radius: 10px;
	transition: transform .2s;
}

.textcell {
	background-color: white;
	position: absolute; 
	bottom: 0px; 
	right: 0px; 
	left: 0px; 
	padding: 10px; 
	padding-top: 5px; 
	padding-bottom: 5px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	height: 120px;
}

.textcell p {
	display: -webkit-box;
  	-webkit-line-clamp: 2;
  	-webkit-box-orient: vertical;
  	overflow: hidden;
}

.textcell h3 {
	display: -webkit-box;
  	-webkit-line-clamp: 1;
  	-webkit-box-orient: vertical;
  	overflow: hidden;
}

.cell:hover {
  transform: scale(1.05);
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

p {
	font-family: "Poppins";
	font-weight: 300;
}

:is(h1, h2, h3, h4, h5, h6, a) {
	font-weight: 500;
  	font-family: "Poppins";
}


.search-bar, .search-btn {
  	-webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    font-family: "Poppins";
    font-size: 20px;
    height: 50px;
    padding: 15px;
    display: flex; 
    justify-content: center; 
    flex-direction: column;
    align-items: flex-end;
}

.cellimage {
	width: 100%; 
	object-fit: cover; 
	height: calc(100% - 120px); 
	border-top-left-radius: 10px; 
	border-top-right-radius: 10px;
}

.navbar-nav > li, .navbar-nav {
	float: left !important;
}

.navbar-nav-right > li, .navbar-nav-right {
	float: right !important;
}

button, a {
	outline: none;
}